---
Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 120
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
PackConstructorInitializers: Never
Cpp11BracedListStyle: false
# Forces struct initializers to have one element per line
AllowShortEnumsOnASingleLine: false
AlwaysBreakAfterReturnType: None
---
